<div class="panel panel-default proposal listItem">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="panel-title"><a href="/app/requests/show/<%= proposal.get('Request').id %>"><%= proposal.get('Request').title %></a></h3>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row askOfferHead">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12">
            <div class="profileContainer">
              <%= require('../profile/profile.ejs')({
                user: proposal.get('Request').User
              }) %>
            </div>
            <div class="asking">Asking</div>
          </div>
          <div class="col-sm-12">
            <div class="offer ask"><%= proposal.get('Request').offer %> ę</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12">
            <div class="offering">Your Offer</div>
          </div>
          <div class="col-sm-12">
            <div class="offer"><%= proposal.get('offer') %> ę</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body proposalBodyPanel">
    <h5 class="overlaidTitle">Your Proposal</h5>
    <div class="proposalBody">
      <%= proposal.getBodyFormatted() %>
    </div>
  </div>
  <div class="status <%= proposal.getStateString() %>">
    <span class="statusText"><%= proposal.getStateStringFormatted() %></span>
    <% if (proposal.getStateString() === 'accepted' && !proposal.get('Submission')) { %>
      <a href="/app/submissions/create/<%= proposal.get('Request').id %>" class="pull-right">Make Submission</a>
    <% } %>
  </div>
  <% if (proposal.get('Submission')) { %>
    <div class="panel-body submissionBodyPanel">
      <h5 class="overlaidTitle">Your Submission</h5>
      <div class="submissionBody">
        <%= proposal.get('Submission').getBodyFormatted() %>
      </div>
    </div>
  <% } %>
</div>
