<% var moment = require('moment'); %>
<div class="proposal listItem">
  <div class="row">
    <div class="col-sm-8 leftCol">
      <div class="preLabel proposalLabel">Your Proposal for &hellip;</div>
      <h4 class="title"><a href="/app/requests/show/<%= request.id %>"><%= request.title %></a></h4>
      <div class="requestMeta">
        Requested by <a href="/users/<%= requestUser.id %>"><%= requestUser.username %></a> <%= moment(request.createdAt).fromNow() %>
      </div>
    </div>
    <div class="col-sm-4 rightCol">
      <div class="sidePanel offerPanel">
        <div class="header">Offer</div>
        <div class="offer"><%= request.offer %>ę</div>
      </div>
      <div class="sidePanel proposalsPanel">
        <div class="header">Your Counter</div>
        <div class="offer"><%= proposal.get('offer') %> ę</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <%= require('../collapsibleContainer.ejs')({
        classes: 'proposalBodyContainer noSideBorder animated',
        text: { show: 'Show Your Proposal', hide: 'Hide Your Proposal' },
        html: proposal.getBodyFormatted(),
        collapsed: true,
      }) %>
      <div class="state <%= proposal.getStateString() %> pull-right">
        <span class="stateText"><%= proposal.getStateStringFormatted() %></span>
        <% if (proposal.is('accepted') && !proposal.get('Submission')) { %>
          <a href="/app/submissions/create/<%= proposal.get('Request').id %>" class="pull-right">&nbsp;&mdash; Make Submission</a>
        <% } %>
      </div>

      <% var submission = proposal.get('Submission'); %>
      <% if (submission) { %>
        <%= require('../collapsibleContainer.ejs')({
          classes: 'submissionBodyContainer noSideBorder animated',
          text: { show: 'Show Your Submission', hide: 'Hide Your Submission' },
          html: submission.getBodyFormatted(),
          collapsed: true,
        }) %>
        <div class="state <%= submission.getStateString() %>">
          <span class="stateText">Submission <%= submission.getStateStringFormatted() %></span>
        </div>
      <% } %>
    </div>
  </div>
</div>
