<div class="proposalsView paginatedView">
  <h1 class="viewTitle"><%= mine ? 'My ' : 'Browse' %>Proposals</h1>
  <div class="controls top">
    <%= require('templates/components/limitSelect.ejs')({ limit: limit }) %>
    <div class="pull-right">
      <%= require('templates/components/sortSelect.ejs')({
        sorts: sorts,
        sort: sort
      }) %>
    </div>
    <div class="clearfix"></div>
    <%= require('templates/components/collapsibleContainer.ejs')({
      classes: 'advancedSearchContainer noSideBorder alignRight animated',
      text: { show: 'Advanced Search', hide: 'Hide Advanced Search' },
      html: '<p>ADVANCED SEARCH</p>',
      collapsed: true,
    }) %>
  </div>
  <div class="itemList proposalList">
    <% proposals.each(function (proposal) { %>
      <%= require('templates/proposal/proposalListItem.ejs')({
        proposal: proposal,
        request: proposal.get('Request'),
        user: proposal.get('User'),
        requestUser: proposal.get('Request').User
      }) %>
    <% }); %>
    <div class="noneMessage">You haven't made any proposals. Try to <a href="/app/requests/browse">find a request</a> you'd like to complete.</div>
  </div>
  <div class="controls bottom">
    <%= require('templates/components/pagination.ejs')({
      page: page,
      pages: pages
    }) %>
  </div>
</div>
