<div class="requestProposalsView">
  <h4>Proposals</h4>
  <span class="subHead">
    <% if (acceptedProposal) { %>
      1 accepted,
      <% if (submission) { %>
        <a href="/app/submissions/show/<%= submission.get('id') %>">view submission</a>.
      <% } else { %>
        awaiting submission.
      <% } %>
    <% } else if (pendingProposals.length) { %>
      <%= pendingProposals.length %> pending, awaiting your approval.
    <% } %>
  </span>
  <div class="proposals">
    <% if (acceptedProposal) { /* proposal accepted, don't show rejected ones */%>
      <div class="accepted stateContainer">
        <h5 class="overlaidTitle">Accepted</h5>
        <%= require('templates/proposal/proposal.ejs')({ proposal: acceptedProposal }) %>
        <% if (submission) { %>
             <a href="/app/submissions/show/<%= submission.get('id') %>">View Submission</a>
        <% } %>
      </div>
    <% } else { /* no proposal accepted, show pending and/or rejected proposals */%>
      <% if (pendingProposals.length) { %>
        <div class="pending stateContainer">
          <h5 class="overlaidTitle">Pending</h5>
          <% _.each(pendingProposals, function (proposal) { %>
            <%= require('templates/proposal/proposal.ejs')({ proposal: proposal }) %>
          <% }); %>
        </div>
      <% } %>
      <% if (rejectedProposals.length) { %>
        <div class="rejected stateContainer">
          <h5 class="overlaidTitle">Rejected</h5>
          <% _.each(rejectedProposals, function (proposal) { %>
            <%= require('templates/proposal/proposal.ejs')({ proposal: proposal }) %>
          <% }); %>
        </div>
      <% } %>
    <% } %>
    <div class="noneMessage">No proposals yet.</div>
  </div>
</div>
