<div class="rule <%= active ? 'active' : '' %>">
  <form class="ajaxForm">
    <label>Where</label>
    <select class="form-control sm" name="left-operand">
      <option value="offer" <%= rule.get('leftOperand') === 'offer' ? 'selected' : '' %>>offer</option>
      <option value="avgProposal" <%= rule.get('leftOperand') === 'avgProposal' ? 'selected' : '' %>>avg proposal</option>
      <option value="tag" <%= rule.get('leftOperand') === 'tag' ? 'selected' : '' %>>tag</option>
    </select>

    <label>is</label>
    <select class="form-control sm" name="operator">
      <option value="$gte" <%= rule.get('operator') === '$gte' ? 'selected' : '' %>>greater than or equal to</option>
      <option value="$lte" <%= rule.get('operator') === '$lte' ? 'selected' : '' %>>less than or equal to</option>
      <option value="$eq" <%= rule.get('operator') === '$eq' ? 'selected' : '' %>>equal to</option>
      <option value="$ne" <%= rule.get('operator') === '$ne' ? 'selected' : '' %>>not equal to</option>
    </select>

    <input type="text" data-attr="<%= rule.get('rightOperandType') || 'undefined' %>" name="right-operand" value="<%= rule.get('rightOperand') || '' %>"></input>
    <button class="btn btn-default btn-xs" data-action="submit">apply</button>
    <button type="button" class="close" aria-label="Close" data-action="close"><span aria-hidden="true">×</span></button>
  </form>
</div>
