<div class="submission module">
  <div class="row">
    <div class="col-sm-12">
      <div class="state <%= state %>">
        <span class="stateText"><%= stateFormatted %></span>
      </div>
      <h5 class="title"><%= submissionOwner %> submission for <%= requestOwner %> request</h5>
      <%= require('templates/components/collapsibleContainer.ejs')({
        classes: 'submissionRequestContainer animated',
        text: { show: 'Show Request', hide: 'Hide Request' },
        html: require('templates/request/requestSimple.ejs')({ request: submission.get('Request') }),
        collapsed: true,
      }) %>
    </div>
  </div>
  <h4>Submission</h4>
  <div class="row">
    <div class="col-sm-4">
      <div class="profileContainer">
        <%= require('templates/profile/profile.ejs')({
          size: 'small',
          user: submission.get('User').toJSON()
        }) %>
      </div>
    </div>
  </div>
  <div class="panel panel-default arrowUp arrowUp-left">
    <div class="panel-body">
      <%= submission.getBodyFormatted() %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="state <%= state %>">
        <span class="stateText"><%= stateFormatted %></span>
      </div>
      <% if (state === 'pending') { %>
        <div class="actionButtons pull-right">
          <button class="btn btn-reject" data-action="state-rejected">Reject</button>
          <button class="btn btn-accept" data-action="state-accepted">Accept</button>
        </div>
      <% } %>
    </div>
  </div>
</div>
<div class="commentsContainer module"></div>
