<div class="submission module">
  <div class="row">
    <div class="col-sm-12">
      <span class="stateText"><%= submission.getStateStringFormatted() %></span>
      <p><%= submission.get('User').get('username') %>'s submission for your request</p>
      <%= require('../collapsibleContainer.ejs')({
        classes: 'submissionRequestContainer animated',
        text: { show: 'Show Request', hide: 'Hide Request' },
        html: require('../request/requestSimple.ejs')({ request: submission.get('Request') }),
        collapsed: true,
      }) %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="profileContainer">
        <%= require('../profile/profile.ejs')({
          size: 'small',
          user: submission.get('User').toJSON()
        }) %>
      </div>
    </div>
  </div>
  <div class="panel panel-default arrowUp arrowUp-left">
    <div class="panel-body">
      <%= submission.getBodyFormatted() %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">

      <div class="state <%= submission.getStateString() %>">
        <span class="stateText"><%= submission.getStateStringFormatted() %></span>
        <% if (submission.getStateString() === 'pending') { %>
          <div class="actionButtons pull-right">
            <button class="btn btn-reject" data-action="state-rejected">Reject</button>
            <button class="btn btn-accept" data-action="state-accepted">Accept</button>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
<div class="commentsContainer module"></div>
