<div class="editProfileView tabbedView">
  <h1 class="viewTitle">My Profile</h1>
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#profile" data-action="profile">Profile</a></li>
    <li role="presentation"><a href="#settings" data-action="settings">Settings</a></li>
  </ul>

  <div class="actionContainer profileContainer">
    <div class="header">
      <img src="<%= user.get('avatar') %>" class="avatar"></img>
      <div class="userInfo">
        <div class="top">
          <span class="username"><%= user.get('username') %></span>
          <span class="memberSince">joined <span class="date"><%= user.getJoinDateFormatted() %></span></span>
        </div>
        <div class="bottom">
          <span class="repContainer"><label>rep:</label> <span class="rep"><%= user.get('rep') %></span></span>
          <span class="balanceContainer"><label>balance:</label> <span class="balance"><%= user.get('points') %>ę</span></span>
        </div>
      </div>
    </div>
  </div>
  <div class="actionContainer settingsContainer hidden">
  </div>

</div>
