<div class="requestsView">
  <h1><%= mine ? 'My ' : '' %>Requests</h1>

  <div class="controls">


    <label>page</label>
    <select class="form-control sm" data-action="page">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>



    <div class="pull-right">
      <label>Sort By</label>
      <select class="form-control sortSelect sm" data-action="sort">
        <option value="-offer" <%= sort === '-offer' ? 'selected' : '' %>>Highest Offer</option>
        <option value="offer" <%= sort === 'offer' ? 'selected' : '' %>>Lowest Offer</option>
        <option value="-createdAt" <%= sort === '-createdAt' ? 'selected' : '' %>>Newest</option>
        <option value="createdAt" <%= sort === 'createdAt' ? 'selected' : '' %>>Oldest</option>
        <option value="updatedAt" <%= sort === 'updatedAt' ? 'selected' : '' %>>Recently Updated</option>
        <option value="-numProposals" <%= sort === '-numProposals' ? 'selected' : '' %>>Most Proposals</option>
        <option value="numProposals" <%= sort === 'numProposals' ? 'selected' : '' %>>Least Proposals</option>
      </select>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="requestList">
    <% requests.each(function (request) { %>
      <%= require('./requestListItem.ejs')({
        request: request,
        user: request.get('User'),
        proposals: request.get('Proposals')
      }) %>
    <% }); %>
  </div>
</div>
