<% var moment = require('moment'); %>
<div class="request listItem">
  <div class="row">
    <div class="col-sm-9 leftCol">
      <h4 class="title"><a href="/app/requests/show/<%= request.id %>"><%= request.get('title') %></a></h4>
      <div class="requestMeta">
        Requested by <%= user.getUsernameLink() %> <%= moment(request.get('createdAt')).fromNow() %>
      </div>
    </div>
    <div class="col-sm-3 rightCol">
      <div class="sidePanel offerPanel">
        <div class="header">Offer</div>
        <div class="offer"><%= request.get('offer') %>ę</div>
      </div>
      <div class="sidePanel proposalsPanel">
        <div class="header"><%= proposals.length %> Proposals</div>
        <% if (proposals.length) { %>
          <span>avg</span><div class="offer"><%= proposals.getAvgOffer() %>ę</div>
        <% } %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h5>Tags: </h5>
      <%= require('templates/tag/tags.ejs')({
        tags: request.get('Tags'),
        classes: 'simple small'
      }) %>
    </div>
  </div>
</div>
