<div class="requestsView paginatedView">
  <h1 class="viewTitle"><%= mine ? 'My ' : 'Browse ' %>Requests</h1>
  <div class="controls top">
    <%= require('../components/limitSelect.ejs')({ limit: limit }) %>
    <div class="pull-right">
      <label>Sort By</label>
      <select class="form-control sortSelect sm" data-action="sort">
        <option value="-createdAt" <%= sort === '-createdAt' ? 'selected' : '' %>>Newest</option>
        <option value="createdAt" <%= sort === 'createdAt' ? 'selected' : '' %>>Oldest</option>
        <option value="updatedAt" <%= sort === 'updatedAt' ? 'selected' : '' %>>Recently Updated</option>
        <option value="-offer" <%= sort === '-offer' ? 'selected' : '' %>>Highest Offer</option>
        <option value="offer" <%= sort === 'offer' ? 'selected' : '' %>>Lowest Offer</option>
        <% /* comment these options out until i implement back-end support for this */ %>
        <!-- <option value="-numProposals" <%= sort === '-numProposals' ? 'selected' : '' %>>Most Proposals</option>
        <option value="numProposals" <%= sort === 'numProposals' ? 'selected' : '' %>>Least Proposals</option> -->
      </select>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="requestList">
    <% requests.each(function (request) { %>
      <%= require('./requestListItem.ejs')({
        request: request,
        user: request.get('User'),
        proposals: request.get('Proposals')
      }) %>
    <% }); %>
  </div>
  <div class="controls bottom">
    <%= require('../components/pagination.ejs')({
      page: page,
      pages: pages
    }) %>
  </div>
</div>
