<div class="requestsView paginatedView">
  <h1 class="viewTitle"><%= mine ? 'My ' : 'Browse ' %>Requests</h1>
  <div class="controls top">
    <%= require('templates/components/limitSelect.ejs')({ limit: limit }) %>
    <div class="pull-right">
      <%= require('templates/components/sortSelect.ejs')({
        sorts: sorts,
        sort: sort
      }) %>
    </div>
    <div class="clearfix"></div>
    <%= require('templates/components/collapsibleContainer.ejs')({
      classes: 'advancedSearchContainer noSideBorder alignRight animated',
      text: { show: 'Advanced Search', hide: 'Hide Advanced Search' },
      html: require('templates/components/advancedSearch.ejs')(),
      collapsed: true,
    }) %>
  </div>
  <div class="requestList">
    <% requests.each(function (request) { %>
      <%= require('templates/request/requestListItem.ejs')({
        request: request,
        user: request.get('User'),
        proposals: request.get('Proposals')
      }) %>
    <% }); %>
  </div>
  <div class="controls bottom">
    <%= require('templates/components/pagination.ejs')({
      page: page,
      pages: pages
    }) %>
  </div>
</div>
